<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/manifest">

    <application android:label="Oto İndirici" android:allowBackup="true">

        <!-- Durum Çubuğu Buton Servisi -->
        <service
            android:name=".MyTileService"
            android:icon="@android:drawable/ic_menu_save"
            android:label="Videoyu İndir"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
